/* ACT style for basic pages */
@media print {
  div.bottomnavbar { display: none; }
  tr.family { page-break-before: auto; }
  tr.member { page-break-before: avoid; }
}

@media screen {
  body { margin: 0px; }
}

body { background-color: #336699; }
h1,h2,h3 { color: #99CCFF; }
.Text h1 { color: #336699; }
.Text h2, .Text h3 { color: #6699CC; }
.Text {
  margin: 4px;
  padding: 6px;
  border: 1px solid black;
  background-color: #FFCC99;
}

.Text dt {
  font-weight: bold;
  font-size: larger;
  color: #336699;
  clear: left;
}

/* Top navbar */
div.topnavbar {
  background-color: #000000;
  margin: 0px;
  padding-bottom: 6px;
}
.topnavbar ul {
  /* display: block; */
  margin: 6px 0px 0px 2px;
  padding: 0px;
}
.topnavbar li {
  float: left;
  list-style-type: none;
  margin: 3px 0px 7px 6px;
}
.topnavbar a {
  /* background-color: #996633; */
  /* background-color: #003366; */
  background-color: #336699;
  text-decoration: none;
  padding: 2px;
  margin: 0px;
  border: 1px inset;
}
.topnavbar a:link {
  color: #99CCFF;
}
.topnavbar a:visited {
  color: #99CCFF;
}
.topnavbar a:hover {
  /* background-color: #CC9966; */
  background-color: #6699FF;
  color: white;
  text-decoration: underline;
}

/* Bottom navbar */
div.bottomnavbar { clear: both; }
.bottomnavbar li {
  float: left;
  list-style-type: none;
}
.bottomnavbar ul {
  margin: 0px;
  padding: 0px 0px 0px 4px;
}
.bottomnavbar a:link {
  color: #99CCFF;
}
.bottomnavbar a:visited {
  color: #99CCFF;
}
.bottomnavbar a:hover {
  /* background-color: #CC9966; */
  background-color: #6699FF;
  color: white;
}
/* table for production team, implicitly floated left */
table.prod_team {
  margin-right: 20px;
  float: left;
}
table.prod_team_r {
  margin-left: 20px;
  float: right;
}
.prod_team th, .prod_team_r th {
  text-align: right;
  vertical-align: top;
  background-color: #99CCFF;
  padding: 0px 4px;
}
.prod_team th.top, .prod_team tr.top th, .prod_team_r th.top, .prod_team_r tr.top th {
  background-color: #6699CC;
  text-align: center;
}
.prod_team th.ctr, .prod_team_r th.ctr {
  background-color: #3333CC;
  color: #CCFFFF;
  text-align: center;
  vertical-align: middle;
}
.prod_team td, .prod_team_r td {
  background-color: #99CCFF;
  padding: 0px 4px;
}
.red { color: red; }
.blue { color: blue; }

div.article {
  float: right;
  width: 400px;
  font-family: arial,sans-serif;
  background-color: #EEEEFF;
  padding: 6px;
  border: thin solid purple;
  margin: 4px;
}
.article h1, .article h2 {
  color: #996633;
}
.article h1 { font-size: large; }
.article h2 { font-size: medium; }
.article h3 {
  font-style: oblique;
  font-weight: normal;
  font-size: small;
  color: black;
  padding: 0em;
  margin: 0em;
}
.article h4 {
  font-size: small;
  color: #666666;
  padding: 0em;
  margin: 0em;
}

/* Table definitions for forms */
.form th {
  background-color: #6699CC;
  color: #FFFFFF;
  text-align: right;
  padding: 0px 6px;
}
.form td {
  background-color: #99CCFF;
  padding: 6px 6px;
}
.form .ctr {
  text-align: center;
}

/* Table definitions for lists */
.list th {
  background-color: #6699CC;
  color: #CCFFFF;
  text-align: center;
}
.list td {
  background-color: #99CCFF;
  padding: 6px 6px;
}

input.submit {
  background-color: #336699;
  color: #99CCFF;
  font-family: times, serif;
}

input.submit:hover {
  background-color: #6699FF;
  color: #FFFFFF;
}

td.fb_error { color: white; font-weight: bold; background-color: red; }
