h3.dim { color: #000066; }
h3.bri { color: #0099FF; font-size: x-large; }
.plain { color: black; font-size: small }
table.prod_team { float: none }
div.result { border: 1px solid black;
  background-color: #99CCFF }
div.error { border: 1px solid black;
  background-color: red;
  margin: 8px;
  padding: 4px }

body {
  color: #7e8890;
  font-family: arial,sans-serif;
}
h2 {
  color: black;
}
div.page-header {
  /* height: 102px; */
  overflow: visible;
}
div.page-header-logo {
  float: left;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
div.header-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul.header-menu, ul.header-menu a:link {
  font-family: arial,sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: black;
  /* list-style: none; */
  margin: 0;
  /* padding: 0; */
  /* float: right; */
  position: relative;
  z-index: 200;
  overflow: hidden;
  display: block;
}
ul.header-menu li {
  padding-right: 45px;
  margin: 0;
  /* float: left; */
}
ul.header-menu a {
  /* line-height: 101px; */
  /* height; 101px; */
}
ul.header-menu {
  margin-bottom: 25px;
}

div.title-bar {
  background-image: url("/images/reg_background.jpg");
  background-color: #2c2f39;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
  clear: both;
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  box-sizing: border-box;
  min-height: 270px;
  align-items: center;
  display: flex;
  justify-content: center;
}

div.title-bar h1 {
  font-size: 40px;
  line-height: 93.6px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

.overline, tr.overline th, tr.overline td {
  border-top: 1px solid #e7e4e2;
}
.underline, tr.underline th, tr.underline td {
  border-bottom: 1px solid #e7e4e2;
}
.form th {
  text-align: right;
  vertical-align: baseline;
  padding: 0px 6px;
  max-width: 100px;
}
.form td {
  padding: 6px 6px;
  vertical-align: baseline;
}
.form .ctr {
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#ProjSum {
  float: left;
  padding-right: 5px;
  max-width: 600px;
  flex-basis: 50%;
  flex-shrink: 1;
  order: 2;
}
div.registration-form {
  max-width: 600px;
  flex-basis: 50%;
  flex-shrink: 1;
  order: 1;
}
.project-details {
  margin-top: 30px;
  border-top: 1px solid #e7e4e2;
}

.footer {
  margin-top: 30px;
}

footer {
  border-top: 1px solid #e7e4e2;
  padding: 30px 95px;
}

@media screen and (min-width: 1200px) {
  div.page-header-logo {
    margin-bottom: 25px;
  }
  div.header-row {
    flex-direction: row;
  }
  ul.header-menu, ul.header-menu a:link {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  ul.header-menu li {
    padding-right: 45px;
    margin: 0;
    float: left;
  }
  ul.header-menu a {
    line-height: 101px;
    height; 101px;
  }
  div.title-bar h1 {
    font-size: 72px;
    line-height: 93.6px;
    color: #FFFFFF;
  }
  .main-content {
    flex-direction: row;
  }
  div.registration-form {
    max-width: 600px;
    order: 2;
  }
  #ProjSum {
    max-width: 600px;
    padding-right: 20px;
    order: 1;
  }
  .skip-to-details { display: none; }
  .project-details { display: none; }
}

@media screen and (min-width: 800px) {
  div.title-bar h1 {
    font-size: 72px;
    line-height: 93.6px;
    color: #FFFFFF;
  }
  .form th {
    max-width: 200px;
  }
}
