table.roles {
  float: left;
  margin-right: 20px;
  background-color: #CCCCCC;
}
table.roles th {
  border-top: 1px solid black;
}
td.col1 {
  padding-left: 12px;
}

.NForm_error {
  background-color: red;
}

.NForm_confirm {
  background-color: yellow;
}
